.main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: lightseagreen;
    border-radius: 25px;
}

#humanchoice {
    padding: 25px 25px 25px 25px;
    flex-direction: column;
}

#computerchoice {
    padding: 25px 25px 25px 25px;
}

.p {
    display: flex;
}

.button {
    display: flex;
}

#buttons {
    display: flex;
}